//VARIABLES

$primary-color: #50808e;
$secondary-color: #c0dcc3;
$background-light: #c2d8df;
$hover-color: #a3c9a8;

body {
  background-color: #f3eedc;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.navbar {
  background-color: $secondary-color !important;
}
.nav-link:hover {
  color: white !important;
}

header {
  background-color: $primary-color;
}

footer {
  background-color: $secondary-color !important;
}
.card,
.form {
  background-color: $background-light;
}
.btn-outline-dark {
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: $hover-color;
  }
}

#grocery,
#beauty,
#clothes {
  color: $primary-color;
}
.checkout__heading {
  color: $primary-color;
  font-weight: bold;
}
.checkout__heading2 {
  color: $primary-color;
  background-color: $background-light;

  &:hover {
    background-color: white;
  }
}

.modal-header {
  background-color: $primary-color;
}
.modal-body {
  background-color: $background-light;
}
th, td {
  background-color: $secondary-color!important;
  border: 1px, solid, black;
}
